@use "variables";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  font-family: variables.$font, sans-serif;
  color: variables.$text-color-primary;
}

// Attractions override
:global(button.btn.filled) {
  background: variables.$accent-color-primary !important;
  transition-duration: 0.1s;
}
